<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chuanfangn.sell.mapper.ProductInfoMapper">
    <resultMap id="map" type="com.chuanfangn.sell.entity.ProductInfo">
        <id property="productId" column="product_id"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="productPrice" column="product_price"/>
        <result property="productStock" column="product_stock"/>
        <result property="productDescription" column="product_description"/>
        <result property="productIcon" column="product_icon"/>
        <result property="productStatus" column="product_status"/>
        <result property="categoryType" column="category_type"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <update id="update">
        UPDATE product_info SET product_status=#{productInfo.productStatus} WHERE product_id = #{productInfo.productId}
    </update>

    <select id="findAll" resultMap="map">
        SELECT * FROM product_info
    </select>
    <select id="findByProductId" resultType="com.chuanfangn.sell.entity.ProductInfo" resultMap="map">
        SELECT * FROM product_info WHERE product_id = #{productId}
    </select>
    <insert id="add">
        INSERT INTO product_info (product_id, product_name, product_price, product_stock, product_description, product_icon, category_type) values (#{productInfo.productId} ,#{productInfo.productName} ,#{productInfo.productPrice} ,#{productInfo.productStock} ,#{productInfo.productDescription} ,#{productInfo.productIcon} ,#{productInfo.categoryType} )
    </insert>
    <update id="updateAll">
        UPDATE product_info SET product_name=#{productInfo.productName} ,product_price=#{productInfo.productPrice,jdbcType=DECIMAL} ,product_stock=#{productInfo.productStock} ,product_description=#{productInfo.productDescription} ,product_icon=#{productInfo.productIcon},category_type=#{productInfo.categoryType}  WHERE product_id = #{productInfo.productId}
    </update>

</mapper>
